:root { 
--gray_50_01:#f9fafc; 
--gray_50_02:#f7fcff; 
--gray_50_03:#f6f6fd; 
--gray_50_04:#f7fbff; 
--gray_900_99:#20243099; 
--gray_900_ab:#202430ab; 
--blue_A200:#3f8cff; 
--teal_300_19:#56cdad19; 
--teal_300:#56cdad; 
--yellow_800:#f2b51d; 
--indigo_50_01:#e9ebfd; 
--white_A700_ab:#ffffffab; 
--gray_900_0a:#0d0b410a; 
--blue_gray_700:#515b6f; 
--yellow_900_19:#ea843319; 
--blue_gray_900:#25324b; 
--gray_900_63:#20243063; 
--deep_purple_A200:#7b61ff; 
--red_A700:#f50100; 
--blue_gray_700_99:#515b6f99; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d3d6db; 
--orange_A200:#ffb23f; 
--blue_500:#26a3ff; 
--amber_700:#f49e00; 
--blue_50:#eaf6ff; 
--gray_400_06:#c0c0c006; 
--white_A700_63:#ffffff63; 
--amber_400_01:#ffd018; 
--indigo_A700:#4640de; 
--cyan_50:#cfedfb; 
--blue_100:#b3dafe; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--blue_gray_400_87:#7c849387; 
--cyan_400:#21d4ef; 
--indigo_600:#2a24d0; 
--green_200:#9bdb9c; 
--blue_gray_700_87:#515b6f87; 
--red_700:#e31d1c; 
--blue_A700:#0062ff; 
--red_900:#c41918; 
--blue_A100:#82aee3; 
--amber_A200:#f7e249; 
--indigo_A700_19:#4640de19; 
--gray_50:#f8f8fd; 
--amber_A400:#feca00; 
--red_50:#fff0ee; 
--teal_400:#449b82; 
--indigo_A700_63:#4640de63; 
--black_900:#000000; 
--yellow_700:#feb835; 
--light_green_700:#5da922; 
--blue_50_01:#d8ecfe; 
--deep_orange_400:#ff6550; 
--blue_gray_400_99:#7c849399; 
--blue_gray_700_75:#515b6f75; 
--gray_900_02:#272727; 
--blue_gray_200:#a8adb7; 
--indigo_A700_5d:#4640de5d; 
--blue_gray_400:#7c8493; 
--indigo_A700_5f:#4640de5f; 
--amber_400:#f7c92b; 
--gray_900_87:#20243087; 
--indigo_A700_5e:#4640de5e; 
--indigo_50:#e2e7f5; 
--gray_900:#202430; 
--gray_900_99_01:#0d0b4199; 
--gray_900_01:#101214; 
--gray_300:#d6ddeb; 
--gray_300_01:#d6ddea; 
--cyan_300:#66d6da; 
--indigo_100:#cbcbf4; 
--deep_orange_400_19:#ff655019; 
--indigo_A700_75:#4640de75; 
--blue_500_19:#26a3ff19; 
--gray_900_b2:#202430b2; 
--blue_gray_900_ab:#25324bab; 
--indigo_900:#1a1682; 
--blue_gray_900_99:#25324b99; 
--indigo_700:#2e42a4; 
}